[user]
    name = zzhuang94
    email = zzhuang94@sina.com
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
[core]
    editor = vim 
    quotepath = true
[push]
    default = matching
[alias]
    log = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[diff]
    tool = icdiff
[difftool]
    prompt = false
[difftool "icdiff"]
    cmd = /usr/bin/icdiff --line-numbers $LOCAL $REMOTE
